/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.panel-default {
    opacity: 0.9;
    margin-top: 30px;
}

.panel-default>.panel-heading {
    color: #030B12;
    background-color: #6C9DDD;
    border-color: #ddd;
}

.form-group.last {
    margin-bottom: 0px;
}

.col-md-offset-7 {
    margin-left: 35.333333%;
}

.col-md-4 {
    width: 35.333333%;
}

a {
    color: #267598;
    text-decoration: none;
}

#side {
    margin-left: 30px;
}

.btn-side {
    margin-left: 30px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.col-eq-spacing {
    margin: 0 10px 0 10px;
}

h5 {
    font-size: 12px;
    margin-top: 0px;
    font-weight: 600;
}

.wrapper {
    padding: 0 20px;
}

.wrapper-content {
    padding: 0px 10px 40px;
}

.pro-content h4,
.pro-content h5,
.pro-title h4,
.pro-title h5 {
    margin-top: 5px;
}

.pro {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
}

.pro-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #ffffff;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0px 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.pro-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.pro-content {
    clear: both;
}

.pro-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}

.pro-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}

.pro-title .label {
    float: left;
    margin-left: 4px;
}

.profile-content {
    border-top: none !important;
}

.pro-box {
    border: solid 2px #e7eaec;
    box-shadow: 10px 10px 5px #888888;
    height: 400px;
    margin-top: 5%;
}

.change-color {
    color: #0F639B;
}

.btn-size {
    padding: 8px 31px;
    font-size: small;
    color: #DDDDDD
}

.btn-info {
    color: #ffffff;
    background-color: #C2475E;
    border-color: transparent;
}

.control-label {
    width: 30%;
}

.log-control-label {
    width: 25%;
}

.sort {
    margin-left: 30px;
}

.sort strong {
    color: #196586;
}

.sortform {
    display: block;
    width: 10%;
    height: 40px;
    ;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #3e3f3a;
    background-color: #D7D8D8;
    background-image: none;
    border: 1px solid #D7D8D8;
    border-radius: 4px;
}

.alert {
    padding: 1px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    background-color: #EFA67F;
    border-color: transparent;
    color: #0D0C0C;
}

.logout {
    margin-right: 28%;
    margin-top: 1%;
}
