<button type="button" class="btn btn-side"><a href="#/add_emp">Add Employee</a></button>
<div class="row pull-right logout">
    <label> <a ng-click="logout()">Logout </a></label>
</div>
</br>
</br>
<div ng-show="error" class="alert alert-danger">{{error}}</div></br>
<div class="sort">
    <strong>Sort by:</strong>
    <select class="sortform" ng-model="sortrecords">
        <option value="id">ID</option>
        <option value="emp_name">Name</option>
        <option value="email">Email</option>
        <option value="address">Address</option>
    </select>
</div>
<br />
<div class="table-responsive" id="side">
    <table class="table-bordered table-condensed" style="margin-right:30px;">
        <thead>
            <tr>
                <th class="id" style="width:200px">ID</th>
                <th class="name" style="width:200px">Name</th>
                <th class="email" style="width:200px">Email</th>
                <th class="address" style="width:200px">Address </th>
                <th class="name" style="width:100px"> </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in employees | orderBy:sortrecords ">
                <td style="width:200px">{{ item.id }}</td>
                <td style="width:200px"><a href="#/emp_view/{{ item.id }}" ng-model="item.emp_name">{{ item.emp_name }}</a></td>
                <td style="width:200px" ng-model="item.email">{{ item.email }}</td>
                <td style="width:200px" ng-model="item.address">{{ item.address }}</td>
                <td style="width:100px">
<!--                     <a href="#" class="btn btn-info btn-sm" ng-click="deleteEmpRecord($index)">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </a> -->
                    <employee-delete email="{{item.email}}"></employee-delete>
                </td>
            </tr>
        </tbody>
    </table>
</div>
